* {
    color: red;
}

p {
    color: blueviolet;
}

h1 {
    font-size: 100px;
    text-align: center;
}

.p0 {
    color: aliceblue;
}

#p1 {
    color: rgb(0, 68, 255);
}

#p2 {
    color: aquamarine;
}

.container {
    color: antiquewhite;
    background-color: cadetblue;
}

.my-class1 {
    color:chartreuse;
}

.my-class2 {
    background-color: chocolate;
}