input[type='text'] {
    background: red;
}

input[type='password'] {
    background: blue;
}

/* #nav>h1 {
    color: red;
} */

#header h1, h2 {
    color: red;
}

#header > h1 {
    color:blue;
}

#section > h1 {
    color: crimson;
}